.super-mario {
    width: 200px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 50px;

  }
  
  .baloon {
    position: absolute;
    top: 35px;
    right: 680px;
    width: 230px;
  }
  
  .speach {
    font-size: 20px;
    position: absolute;
    top: 60px;
    right: 705px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    right: 500px;
  }