.inline{
    display: inline-block;
}
ul{
    height: auto;
    width: auto;
}
main{
   
}
.centro{
    margin-left: 200px;
}
.centroGeral{
     margin-left: 300px;
}
h1{
    text-align: start;
    margin-left: 200px;
}