.pokemon {
  display: flex;
}

.pokemon div {
  margin: 10px;
  margin-top: auto ;
}

#description {
margin: auto;
}

section {
  border: solid;
  margin: auto;
}

.pokedexSection {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}