ol {
    background-color: yellow;
   
}
.verde{
    color: green;
}
.maiusculo{
    text-transform: uppercase;
}
.borda{
    font-size: 40px;
    border-radius: 1px;
    border: solid;
}

h1, h2, h3, h4, h5, h6{
    color: red;
}

li{
    font-size: 20px;
}

li em {
    font-weight: bold;
}
.azul{
    color: blue;
}
.rosa{
    color: pink;
}
.link:hover{
    color: purple;
    font-weight: bold;
}